/* Variables */
$color-titulo-texto: rgb(255, 255, 255);
$color-fondo: rgba(248, 249, 250, 0.89);
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$font-principal: "Poppins", sans-serif;
$oscurecer: rgba(0, 0, 0, 0.151);
